@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Helvetica;
    margin: 0;
    color: black;
    background-color: #efefef;
}

.site-header a {
    text-decoration: none;
    font-size: 1em;
    color: balck;
    border: 1px solid black;
    padding: 5px;
    border-radius: 5px;
}

.site-header a:visited {
    color: black;
}
.site-header {
    border-bottom: 1px solid black;
    color: black;
    display: flex;
    justify-content: space-between;
    background-color: white;
}

.site-identity a {
    border: none;
}

.site-navigation a:hover {
    background-color: whitesmoke;
}

.site-navigation a:visited {
    color: black;
}

.site-identity h1 {
    font-size: 2em;
    margin: 0.6em 0;
    display: inline-block;
    color: black;
}

.site-navigation ul,
.site-navigation li {
    margin: 0;
    padding: 0;
}

.site-navigation li {
    display: inline-block;
    margin: 1.8em 1em 0em 1em;
}

footer {
    position: fixed;
    background-color: white;
    border-top: 1px solid black;
    padding: 10px;
    left: 0;
    bottom: 0;
    width: 100%;
    color: black;
    text-align: center;
}
